@{
    ViewData["Title"] = "About";
}

<div>
    <h2>About site</h2>
    <p>A personal budget or home budget is a finance plan that allocates future personal income towards expenses, savings and debt repayment. Past spending and personal debt are considered when creating a personal budget.</p>
    <p>There are several methods and tools available for creating, using and adjusting a personal budget.</p>
</div>
