@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Five Rules to Improve Your Financial Health</h1>
    <h2>These general principles can help you attain specific goals</h2>
    <p>
        The term “personal finance” refers to how you manage your money and plan for your future. All of your financial decisions and activities have an effect on your financial health. We are often guided by specific rules of thumb, such as “don’t buy a house that costs more than two-and-a-half years’ worth of income” or “you should always save at least 10% of your income toward retirement.”
        While many of these adages are time tested and helpful, it’s important to consider what we should be doing—in general—to help improve our financial health and habits. Here we discuss five broad personal finance rules that can help get you on track to achieving specific financial goals.
    </p>
    <h3>1. Do the Math—Net Worth and Personal Budgets</h3>
    <span id="points"></span>
    <span id="moreText"><div>
        <p>
            Money comes in, money goes out. For many people this is about as deep as their understanding gets when it comes to personal finances. Rather than ignoring your finances and leaving them to chance, a bit of number crunching can help you evaluate your current financial health and determine how to reach your short- and long-term financial goals.
            As a starting point, it is important to calculate your net worth—the difference between what you own and what you owe. To calculate your net worth, start by making a list of your assets (what you own) and your liabilities (what you owe). Then subtract the liabilities from the assets to arrive at your net-worth figure.
            Your net worth represents where you are financially at that moment, and it is normal for the figure to fluctuate over time. Calculating your net worth one time can be helpful, but the real value comes from making this calculation on a regular basis (at least yearly). Tracking your net worth over time allows you to evaluate your progress, highlight your successes, and identify areas requiring improvement.
            Equally important is developing a personal budget or spending plan. Created on a monthly or an annual basis, a personal budget is an important financial tool because it can help you:
            <ul class="bulletedul">
                <li>Plan for expenses</li>
                <li>Reduce or eliminate expenses</li>
                <li>Save for future goals</li>
                <li>Spend wisely</li>
                <li>Plan for emergencies</li>
                <li>Prioritize spending and saving</li>
            </ul>
            There are numerous approaches to creating a personal budget, but all involve making projections for income and expenses. The income and expense categories you include in your budget will depend on your situation and can change over time. Common income categories include:
            <ul class="bulletedul">
                <li>Alimony</li>
                <li>Bonuses</li>
                <li>Child support</li>
                <li>Disability benefits</li>
                <li>Interest and dividends</li>
                <li>Rents and royalties</li>
                <li>Retirement income</li>
                <li>Salaries/wages</li>
                <li>Social security</li>
                <li>Tips</li>
            </ul>
            General expense categories include:
            <ul class="bulletedul">
                <li>Childcare/eldercare</li>
                <li>Debt payments (car loan, student loan, credit card)</li>
                <li>Education (tuition, daycare, books, supplies)</li>
                <li>Entertainment and recreation (sports, hobbies, books, movies, DVDs, concerts, streaming services)</li>
                <li>Food (groceries, dining out)</li>
                <li>Giving (birthdays, holidays, charitable contributions)</li>
                <li>Housing (mortgage or rent, maintenance)</li>
                <li>Insurance (health, home/renters, auto, life)</li>
                <li>Medical/Health Care (doctors, dentists, prescription medications, other known expenses)</li>
                <li>Personal (clothing, hair care, gym, professional dues)</li>
                <li>Savings (retirement, education, emergency fund, specific goals such as a vacation)</li>
                <li>Special occasions (weddings, anniversaries, graduation, bar/bat mitzvah)</li>
                <li>Transportation (gas, taxis, subway, tolls, parking)</li>
                <li>Utilities (phone, electric, water, gas, cell, cable, internet)</li>
            </ul>
            Once you’ve made the appropriate projections, subtract your expenses from your income. If you have money left over, you have a surplus, and you can decide how to spend, save, or invest the money. If your expenses exceed your income, however, you will have to adjust your budget by increasing your income (adding more hours at work or picking up a second job) or by reducing your expenses.
            To really understand where you are financially, and to figure out how to get where you want to be, do the math: Calculate both your net worth and a personal budget on a regular basis. This may seem abundantly obvious to some, but people’s failure to lay out and stick to a detailed budget is the root cause of excessive spending and overwhelming debt.
        </p>
        <h3>2. Recognize and Manage Lifestyle Inflation</h3>
        <p>
            Most individuals will spend more money if they have more money to spend. As people advance in their careers and earn higher salaries, there tends to be a corresponding increase in spending, a phenomenon known as “lifestyle inflation.” Even though you might be able to pay your bills, lifestyle inflation can be damaging in the long run, because it limits your ability to build wealth. Every extra dollar you spend now means less money later and during retirement.
            One of the main reasons people allow lifestyle inflation to sabotage their finances is their desire to keep up with the Joneses. It’s not uncommon for people to feel the need to match their friends’ and coworkers’ spending habits. If your peers drive BMWs, vacation at exclusive resorts, and dine at expensive restaurants, you might feel pressured to do the same. What is easy to overlook is that in many cases the Joneses are actually servicing a lot of debt—over a period of decades—to maintain their wealthy appearance. Despite their wealthy “glow”—the boat, the fancy cars, the expensive vacations, the private schools for the kids—the Joneses might be living paycheck to paycheck and not saving a dime for retirement.
            As your professional and personal situation evolves over time, some increases in spending are natural. You might need to upgrade your wardrobe to dress appropriately for a new position, or, as your family grows, you might need a house with more bedrooms. And with more responsibilities at work, you might find that it makes sense to hire someone to mow the lawn or clean the house, freeing up time to spend with family and friends and improving your quality of life.
        </p>
        <h3>3. Recognize Needs vs. Wants—and Spend Mindfully</h3>
        <p>
            Unless you have an unlimited amount of money, it’s in your best interest to be mindful of the difference between “needs” and “wants,” so you can make better spending choices. Needs are things you have to have in order to survive: food, shelter, healthcare, transportation, a reasonable amount of clothing (many people include savings as a need, whether that’s a set 10% of their income or whatever they can afford to set aside each month). Conversely, wants are things you would like to have but don’t require for survival.
            It can be challenging to accurately label expenses as either needs or wants, and for many the line gets blurred between the two. When this happens, it can be easy to rationalize away an unnecessary or extravagant purchase by calling it a need. A car is a good example. You need a car to get to work and take the kids to school. You want the luxury edition SUV that costs twice as much as a more practical car (and costs you more in gas). You could try and call the SUV a “need” because you do, in fact, need a car, but it’s still a want. Any difference in price between a more economical vehicle and the luxury SUV is money that you didn’t have to spend.
            Your needs should get top priority in your personal budget. Only after your needs have been met should you allocate any discretionary income toward wants. And again, if you do have money left over each week or each month after paying for the things you really need, you don’t have to spend it all.
        </p>
        <h3>4. Start Saving Early</h3>
        <p>
            It’s often said that it’s never too late to start saving for retirement. That may be true (technically), but the sooner you start, the better off you’ll likely be during your retirement years. This is because of the power of compounding—what Albert Einstein called the “eighth wonder of the world.”
            Compounding involves the reinvestment of earnings, and it is most successful over time. The longer earnings are reinvested, the greater the value of the investment, and the larger the earnings will (hypothetically) be.
            To illustrate the importance of starting early, assume you want to save $1,000,000 by the time you turn 60. If you start saving when you are 20 years old, you would have to contribute $655.30 a month—a total of $314,544 over 40 years—to be a millionaire by the time you hit 60. If you waited until you were 40, your monthly contribution would bump up to $2,432.89—a total of $583,894 over 20 years. Wait until 50 and you’d have to come up with $6,439.88 each month —equal to $772,786 over the 10 years. (These figures are based on an investment rate of 5% and no initial investment. Please keep in mind that they are for illustrative purposes only and do not take into consideration actual returns, taxes, or other factors).
            The sooner you start, the easier it is to reach your long-term financial goals. You will need to save less each month, and contribute less overall, to reach the same goal in the future.
        </p>
        <h3>5. Build and Maintain an Emergency Fund</h3>
        <p>
            An emergency fund is just what the name implies: money that has been set aside for emergency purposes. The fund is intended to help you pay for things that wouldn’t normally be included in your personal budget: unexpected expenses such as car repairs or an emergency trip to the dentist. It can also help you pay your regular expenses if your income is interrupted; for example, if an illness or injury prevents you from working or if you lose your job.
            Although the traditional guideline is to save three to six months’ worth of living expenses in an emergency fund, the unfortunate reality is that this amount would fall short of what many people would need to cover a big expense or weather a loss in income. In today’s uncertain economic environment, most people should aim for saving at least six months’ worth of living expenses—more if possible. Putting this as a regular expense item in your personal budget is the best way to ensure that you are saving for emergencies and not spending that money frivolously.
            Keep in mind that establishing an emergency backup is an ongoing mission. Odds are that as soon as it is funded, you will need it for something. Instead of being dejected about this, be glad that you were financially prepared and start the process of building the fund again.
        </p>
        <h3>The Bottom Line</h3>
        <p>
            Personal finance rules can be excellent tools for achieving financial success. However, It’s important to consider the big picture and build habits that help you make better financial choices, leading to better financial health. Without good overall habits, it will be difficult to obey detailed adages such as “never withdraw more than 4% a year to make sure your retirement lasts” or “save 20 times your gross income for a comfortable retirement.”
        </p>
    </div></span>
        <button onclick="toggleText()" id="textButton">
            Show More
        </button>
</div>

<script>
        function toggleText() {

            // Get all the elements from the page
            var points =
                document.getElementById("points");

            var showMoreText =
                document.getElementById("moreText");

            var buttonText =
                document.getElementById("textButton");

            // If the display property of the dots
            // to be displayed is already set to
            // 'none' (that is hidden) then this
            // section of code triggers
            if (points.style.display === "none") {

                // Hide the text between the span
                // elements
                showMoreText.style.display = "none";

                // Show the dots after the text
                points.style.display = "inline";

                // Change the text on button to
                // 'Show More'
                buttonText.innerHTML = "Show More";
            }

            // If the hidden portion is revealed,
            // we will change it back to be hidden
            else {

                // Show the text between the
                // span elements
                showMoreText.style.display = "inline";

                // Hide the dots after the text
                points.style.display = "none";

                // Change the text on button
                // to 'Show Less'
                buttonText.innerHTML = "Show Less";
            }
        }
</script>
