<!--Edit Modal-->
@model string

<div aria-hidden="true" aria-labelledby="@string.Format(Model + "-label")" role="dialog" 
     tabindex="-1" id="@Model" class="modal fade">
    <div class="modal-dialog">
    </div>
</div>
